

<div class="centered">
  <%= render partial: 'shared/username_error'%>
  <%= render partial: 'shared/fullname_error'%>
  <%= image_tag('twitter-logo.svg', class: 'tw-logo centered')%>
  <div class="container-fluid background rounded-pill shadow-lg">
    <h1 class="d-flex welcome justify-content-center mb-3">Welcome</h1>
    <div>
      <div class="justify-content-center mt-3 mb-0">
        <%= form_with model: @user, url: registrations_path do |f| %>
          <div class="mb-2">
            <% f.label :username %>
            <%= f.text_field :username, placeholder: 'Username (4-10 char)', method: :create, class: 'username' %>
          </div>
          <div>
            <% f.label :fullname %>
            <%= f.text_field :fullname, placeholder: 'Fullname (4-10 char)', method: :create, class: 'username' %>
          </div>
      </div>
        <div class="d-flex justify-content-center mt-3 mb-3"><%= f.submit 'CREATE USER', class: 'login' %></div>
      <% end %>
      <%= link_to "Already have an account?", registrations_path, method: :get %>
    </div>
  </div>
</div>