<aside class="aside-opt">
  <div class="pfp-container">
    <div class="d-flex mx-4 justify-content-center pt-4">
      <%= following_btn(user) %>

      <img src="/assets/images/blank-pfp.png" alt="" class="pfp text-center">
      <a href="">
        <i class="fas fa-bars lightblue my-auto ms-2 pfp-icons"></i>
      </a>
    </div>
    <div class="text-center dark-gray fw-bold mb-1"><%= user.fullname %></div>
    <div class="text-center gray mb-4">Joined at: <%= user.created_at.strftime("%Y/%m/%d") %></div>
    <div class="d-flex gray border-top justify-content-evenly">
      <div class="text-center">
        <p class="my-2"><%= user.opinions.count %></p>
        <p class="my-2">Tweets</p>
      </div>
      <div class="text-center px-3 border-start border-end">
        <p class="my-2"><%= user.followers.count %></p>
        <p class="my-2">Followers</p>
      </div>
      <div class="text-center">
        <p class="my-2"><%= user.following_users.count %></p>
        <p class="my-2">Following</p>
      </div>
    </div>
  </div>
  <div class="f-by">FOLLOWED BY
  </div>
  <ul class="gray text-center">
    <% user.followers.each do |follower|%>
    <li>
      <div class="d-flex justify-content-between">
        <div class="d-flex">
          <span><img src="/assets/images/blank-pfp.png" alt="" class="f-pfp me-2"></span>
          <span>
            <%= link_to profile_path(follower) do %>
              <p class="my-1 fw-bold text-start dark-gray"><%= follower.fullname %></p>
            <% end %>
            <p class="my-1">Joined at: <%=user.created_at.strftime("%Y/%m/%d")%></p>
          </span>
        </div>
        <%= following_btn(follower) %>
      </div>
    </li>
    <% end %>
  </ul>
</aside>