<nav class="nav side-nav">
  <div>
    <div class="my-2 px-2">
      <div class="text-center mb-1">
        <%= image_tag(current_user.photo, class: "nav-pfp" )%>
      </div>
      <div class="text-center fw-bold">
        <%= current_user.fullname %>
      </div>
    </div>
    <div class="d-flex py-3 justify-content-evenly f-borders">
      <div>
        <div class="text-center fw-bold">
          <%= current_user.followers.count %>
        </div>
        <div>FOLLOWERS</div>
      </div>
      <div>
        <div class="text-center fw-bold">
          <%= current_user.following_users.count%>
        </div>
        <div>FOLLOWING</div>
      </div>
    </div>
  </div>
  <ul class="nav nav-pills flex-column">
    <li class="nav-item active opts" aria-current="page" href="#">
      <%= link_to root_path, class: "blue" do %><i class="nav-icons fas fa-home me-3"></i>HOME<%end%></a>
    </li>
    <li class="nav-item opts"><%= link_to connects_path, class: "blue" do %><i class="nav-icons fas fa-at me-3"></i>CONNECT<%end%></li>
    <li class="nav-item opts">
      <%= link_to profile_path(current_user), class: "blue" do %><i
          class="nav-icons fas fa-user-circle me-3"></i>PROFILE<% end %>
    </li>
    <li class="nav-item opts">
      <%= link_to logout_path(:user_id), method: :delete, class: "blue" do %><i
          class="nav-icons fas fa-user-circle me-3"></i>LOG OUT<%end%>
    </li>
  </ul>
</nav>