<div class="right-container">
    <%= render partial: 'shared/header'%>
    <div class="d-flex w-100 h-100">
      <div class="w-100">
        <ul class="nav nav-tabs mb-3">
          <li class="dark-gray fw-bold border-bottom border-5 border-lightblue">TWEETS</li>
          <li class="gray">PHOTOS</li>
          <li class="gray">VIDEOS</li>
        </ul>
        <div>
          <div class="tw-something bg-white p-4">
            <p>TWEET SOMETHING</p>
            <%= form_with model: @opinion do |f| %>
            
            <div class="input-group border-end">
              <%= f.text_field :text, class:"form-control gray", placeholder: "Start tweeting!" %>
              <button class="btn btn-outline-secondary tw-btn" type="submit" id="button-addon2"><i
                  class="fa fa-twitter"></i></button>
            </div>
            <% end %>
          </div>
          <div class="tw-something bg-white p-4">
            <p class="mb-4 lightblue fw-bold">NEW TWEETS</p>
            <div class="border-top">
              <%= render @opinions %>
            </div>
          </div>
        </div>
      </div>
      <%= render 'shared/aside_trending', people_to_follow: people_to_follow %>
  </div>
</div>